body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://th.bing.com/th/id/R.920f4ab006b9a5384ff1acf3cf2d942e?rik=yYWMg5z6SDOM4Q&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f10sDgAY.jpg&ehk=8bz8H0Qwe30yJckRRbOBX3KKQnY5zFDXIhpRMzzFVoY%3d&risl=&pid=ImgRaw&r=0");
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 350px;
}

.container2 {
  font-family: "Roboto Mono", monospace;
  color: white;
  text-align: center;
}