body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://i.pinimg.com/736x/8c/7d/0a/8c7d0a32e1af3ce9a679d0d26d703b09.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  #listaLivro img {
    margin: 10px;
    max-height: 250px;
  }
  
  .form-wrapper {
    margin: 0 0 15px;
  }
  
  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 15px;
    width: 300px;
    height: 30px;
    border-width: 2px;
  }
  
  .form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #da1e26;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .form-wrapper button:hover {
    opacity: 0.8;
  }
  
  .bloco {
    color: white;
    font-size: 30px;
  }

  .bloco >* {
    margin: 10px;
  }

 #trailerFilme {
  margin: 0 auto;
 }


